* {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #1F2837;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0px 48px 48px 48px;
}

.header .header-top {
    justify-content: center;
    
}

.header .header-top {
    display: flex;
    justify-content: space-between;
}

.header .header-bot {
    display: flex;
    justify-content: space-between;
}